use_seed: True
seed: 633
num_gpu: 1
# eval config
algorithm_name: query_rewrite_rag
task: ''
# llm config
llm_mode: HF_Model
llm_path: ./model/Llama3-8B-baseline
dtype: "half"
use_vllm: True
temperature: 0.0
top_p: 1.0
generation_stop: "**"
generate_maxlength: 300
# retrieval config
realtime_retrieval: True
retrieval_name: colbert_api
n_docs: 10
passages_max_length: -1
# query rewrite rag has no special config