use_seed: True
seed: 633
num_gpu: 1
# eval config
algorithm_name: naive_rag
task: TriviaQA
eval_datapath: ./data/eval_datasets/TriviaQA/triviaqa_test_w_gs_first_500_samples.jsonl
output_dir: ./data/eval_results/
# llm config
llm_mode: HF_Model
llm_path: ./model/Llama3-8B-baseline
dtype: half
dtype: "half"
use_vllm: True
temperature: 0.0
top_p: 1.0
generation_stop: ''
generate_maxlength: 300
# retrieval config
realtime_retrieval: False
